<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
.service, .portfolio-item  {
	opacity: 0;
  	transition:all 0.5s;
  	transform:translateY(30%) scale(0.95);
}

.custom-active {
	opacity:1;
    transform:translateY(0%) scale(1);
}</style>
<!-- end Simple Custom CSS and JS -->
